html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #414141;
}

.main {
  padding: 50px 10%;
}

.tabela-wrapper {
  width: 100%;
  position: relative;
}

img.contorno-carro {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 15px;
  user-select: none;
  pointer-events: none;
}

table.temperaturas {
  position: absolute;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

.input-range {
  width: 100%;
  margin: 20px 0;
}
